.payment-section {
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    padding: 32px 0 0;
    flex-direction: column;
    overflow: hidden;
    .visually-hidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  
    .nav-wrapper {
      display: flex;
      align-items: center;
      gap: 40px 132px;
      justify-content: start;
      margin: 0 140px 29px 101px;
    }
  
    .brand-logo {
      aspect-ratio: 4.24;
      object-fit: contain;
      object-position: center;
      width: 220px;
      align-self: stretch;
      margin: auto 0;
    }
  
    .navigation-container {
      align-self: stretch;
      display: flex;
      min-width: 240px;
      align-items: center;
      gap: 40px 50px;
      justify-content: start;
      flex-wrap: wrap;
      width: 905px;
      margin: auto 0;
    }
  
    .nav-menu {
      border-radius: 290px;
      align-self: stretch;
      display: flex;
      min-width: 240px;
      align-items: center;
      gap: 28px;
      overflow: hidden;
      width: 664px;
      margin: auto 0;
      padding: 6px;
      background-image: linear-gradient(to right, #399c23, #200ee4);
    }
  
    .home-button {
      border-radius: 40px;
      background-color: rgba(250, 250, 250, 1);
      align-self: stretch;
      display: flex;
      align-items: center;
      gap: 6px;
      justify-content: center;
      padding: 8px 16px;
    }
  
    .home-icon {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 20px;
      align-self: stretch;
      margin: auto 0;
    }
  
    .nav-link {
      color: rgba(255, 255, 255, 1);
      text-align: center;
      align-self: stretch;
      margin: auto 0;
      font: 400 16px Poppins, sans-serif;
    }
  
    .nav-link-flex {
      color: rgba(255, 255, 255, 1);
      text-align: center;
      align-self: stretch;
      flex-basis: auto;
      margin: auto 0;
      font: 400 16px Poppins, sans-serif;
    }
  
    .cta-container {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 133px;
      margin: auto 0;
      font: 500 16px Poppins, sans-serif;
    }
  
    .cta-wrapper {
      display: flex;
      align-items: start;
      justify-content: start;
    }
  
    .cta-button {
      border-radius: 40px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 132px;
      padding: 14px 13px;
      
    }
  
    @media (max-width: 991px) {
      .navigation-container {
        max-width: 100%;
      }
      .nav-menu {
        max-width: 100%;
      }
    }
  .hero-section {
      width: 100%;
    height: 299px;
    margin: 30px 0;
    padding: 18px 290px 0 84px;
    border: solid 1px #000;
    background-image: linear-gradient(to right, #399c23, #200ee4);
  }
  
  .hero-content {
    display: flex;
    gap: 20px;
  }
  
  .hero-title {
    color: #fff;
    letter-spacing: -2.72px;
    text-align: center;
    align-self: stretch;
    font: 700 68px/1 Poppins, sans-serif;
  }
  
  .hero-image {
    aspect-ratio: 0.78;
    object-fit: contain;
    width: 220px;
    max-width: 100%;
    flex-grow: 1;
  }
  
  .form-section {
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 0 65px;
  }
  
  .form-container {
    margin-left: 15px;
    width: 100%;
    max-width: 1241px;
  }
  
  .form-content {
    display: flex;
    gap: 20px;
  }
  
  .form-text {
    display: flex;
    margin-top: 79px;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: #000;
    letter-spacing: -0.8px;
    font: 400 20px/1 Poppins, sans-serif;
  }
  
  .form-heading {
    line-height: 22px;
  }
  
  .form-title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px;
    margin-top: 83px;
  }
  
  .form-description {
    align-self: stretch;
    margin-top: 9px;
  }
  
  .form-image {
    aspect-ratio: 1.23;
    object-fit: contain;
    width: 100%;
  }
  
  .input-group {
    display: flex;
    margin-top: 22px;
    gap: 100px;
    flex-wrap: wrap;
    font: 400 20px Inter, sans-serif;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    color: #000;
    margin-left: 27px;
  }
  
  .text-input {
    border-radius: 37px;
    background-color: rgba(217, 217, 217, 0.55);
    margin-top: 13px;
    color: rgba(0, 0, 0, 0.25);
    padding: 17px 37px;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  .checkbox-group {
    display: flex;
    width: 947px;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 22px 0 0 54px;
  }
  
  .submit-btn {
    border-radius: 62px;
    color: #fff;
    text-align: center;
    padding: 14px 44px;
    font: 500 20px Inter, sans-serif;
  }
  
  .footer {
    background-color: #102039;
    display: flex;
    margin-top: 86px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 2px 0 10px;
  }
  
  .footer-content {
    transform: rotate(180deg);
    background-color: rgba(217, 217, 217, 0.01);
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 57px 0;
  }
  
  .footer-wrapper {
    display: flex;
    margin-left: 38px;
    width: 100%;
    max-width: 1186px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .social-icons {
    display: flex;
    width: 25px;
    flex-direction: column;
    align-items: start;
    margin: 27px 0 0 30px;
  }
  
  .social-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
  }
  
  .footer-logo {
    aspect-ratio: 1.32;
    object-fit: contain;
    width: 245px;
    align-self: start;
    margin-top: 10px;
  }
  
  .footer-image {
    object-fit: contain;
    width: 100%;
    border-radius: 0;
    margin-top: 113px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  @media (max-width: 991px) {
    .header-wrapper {
      max-width: 100%;
    }
    
    .nav-container {
      max-width: 100%;
    }
    
    .nav-menu {
      max-width: 100%;
    }
    
    .hero-section {
      max-width: 100%;
      padding: 0 20px;
    }
    
    .hero-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
    
    .hero-title {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
    
    .hero-image {
      margin-top: 40px;
    }
    
    .form-section {
      max-width: 100%;
      padding: 0 20px;
    }
    
    .form-container {
      max-width: 100%;
    }
    
    .form-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
    
    .form-text {
      max-width: 100%;
      margin-top: 40px;
    }
    
    .form-title {
      margin-top: 40px;
    }
    
    .form-image {
      margin-top: 40px;
    }
    
    .input-group {
      max-width: 100%;
    }
    
    .input-wrapper {
      max-width: 100%;
    }
    
    .input-label {
      margin-left: 10px;
    }
    
    .text-input {
      max-width: 100%;
      padding: 0 20px;
    }
    
    .submit-btn {
      margin-left: 7px;
      padding: 0 20px;
      background-image: linear-gradient(to right, #200ee4, #399c23);
    }
  }
}