
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
.hero {
    background: linear-gradient(90deg, #399C23 0%, #12087E 100%);
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.hero h1 {
    font-size: 2.5em;
}
.container {
    max-width: 100%;
    background: #fff;
    padding: 20px;
    margin: auto;
}
h2 {
    color: #28a745;
}
h3 {
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}
.checkbox-group label {
    width: 50%;
}
.consent {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    display: block;
    width: 10%;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    input, textarea {
      width: 90%;
  }
    .checkbox-group label {
        width: 100%;
    }
    button {
        padding: 12px;
        width: 30%;
    }
}