body{
  margin-top:20px;
  background: linear-gradient(to bottom, #F5F5F5 0%, #E0E0E0 40%, #D6D6D6 70%, #CCCCCC 100%);
  
  
}
.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
a {
  text-decoration:none;    
}

.desc{
  color:#fff;    
}
.dark-consultancy-section {
  background: linear-gradient(to bottom, #266B1F, #399C23, #003366, #001F33); /* Green to Dark Blue */
  
  padding: 50px 0;
  border-radius: 12px;
}

.dark-consultancy-section .desc {
  color: #fff; /* White text for contrast */
}
