
  .maintenance-container {
    border-radius: 15px;
    background: #EDEDF5;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 1px 128px;
    margin-top: 15px;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 423px;
    width: 100%;
    align-items: start;
    font-family: Poppins, sans-serif;
    color: #fff;
  }
  
  .hero-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .hero-title {
    position: relative;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2.56px;
  }
  
  
  .content-wrapper {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1259px;
    flex-direction: column;
    margin: 39px 0 -26px;
  }
  
  .section-title {
    color: #000;
    text-align: center;
    align-self: center;
    font: 700 40px/1 Poppins, sans-serif;
  }
  
  .section-description {
    color: #000;
    margin: 39px 50px 0 72px;
    font: 400 24px/22px Poppins, sans-serif;
  }
  
  .services-container {
    align-self: center;
    width: 100%;
    max-width: 1136px;
    margin: 93px 0 0 11px;
  }
  
  .services-grid {
    gap: 20px;
    display: flex;
  }
  
  .service-card {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin: 0 auto;
    padding: 70px 22px 21px;
    font: 400 20px Poppins, sans-serif;
    
  }
  
  .service-icon {
    aspect-ratio: 1.15;
    object-fit: contain;
    width: 125px;
  }
  
  .service-title {
    font-size: 36px;
    line-height: 1;
    text-align: center;
    margin-top: 47px;
  }
  
  .service-features {
    align-self: stretch;
    display: flex;
    margin-top: 19px;
    gap: 3px;
    line-height: 22px;
  }
  
  .feature-icon {
    aspect-ratio: 0.31;
    object-fit: contain;
    width: 47px;
  }
  
  .feature-list {
    flex-grow: 1;
    margin: auto 0;
  }
  
  .cta-button {
    align-self: stretch;
    width: 153px;
    border-radius: 72px;
    background: #399C23;
    margin-top: 72px;
    min-height: 65px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    padding: 26px 19px;
    border: 2px solid #102038;
    cursor: pointer;
  }
  
  .benefits-title {
    color: #000;
    text-align: center;
    margin: 133px 0 0 118px;
    font: 700 40px/1 Poppins, sans-serif;
  }
  
  .benefits-grid {
    margin-top: 121px;
    gap: 20px;
    display: flex;
  }
  
  .benefit-card {
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;
    font: 500 24px/1 Poppins, sans-serif;
  }
  
  .benefit-icon {
    aspect-ratio: 1.08;
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
  }
  
  .benefit-title {
    margin-top: 24px;
  }
  
  @media (max-width: 991px) {
    .maintenance-section {
      padding: 100px 0;
    }
  
    .maintenance-container {
      max-width: 100%;
      padding-bottom: 100px;
    }
  
    .hero-section {
      max-width: 100%;
      font-size: 40px;
      padding: 0 20px 110px;
    }
  
    .content-wrapper {
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .section-description {
      max-width: 100%;
      margin-right: 10px;
    }
  
    .services-container {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .services-grid {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .service-card {
      max-width: 80%;
      margin-top: 40px;
      padding-left: 20px;
    }
  
    .service-title {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .cta-button {
      margin-top: 40px;
    }
  
    .benefits-title {
      margin: 40px 0 0 10px;
    }
  
    .benefits-grid {
      max-width: 100%;
      margin-top: 40px;
      flex-direction: column;
    }
  
    .benefit-card {
      margin-top: 40px;
      max-width: 80%;
      margin-left: 70px;
    }
  }