
.nav-bar-bg{

  /* Menu */
  
  box-sizing: border-box;
  

background-size: contain;
  background: linear-gradient(90deg, #399C23 0%, #12087E 100%);

  
  
  }


@media screen and (max-width: 600px ){
  .media{

    /* Menu */
    
    box-sizing: border-box;
    
  
    
    background:yellow;
   
    
    
    }

    
  
}
.login{

 
  background-color: #367588;
 

}
.login:hover{

  background-color: #367588;
}
