
.heroes-section{

    width: 100%;
    

}
.about-section-one{
    /* Left Column */



    background: linear-gradient(180deg, #399C23 0%, #200EE4 100%);



}
@media screen and (max-width:600px){
    body{
      margin-right: auto;
    }
    .heroes-section{
        /* About Us */
      
      position: absolute;
      width: 100%;
 
      
      
      }
    
      .bg-icon{

        background-image:url('../images/about-icon.png');
        background-repeat: no-repeat;
    background-size: 20%;
    }
   
}
.bg-icon{

    background-image:url('../images/about-icon.png');
    background-repeat: no-repeat;
background-size: 20%;
}
.txt-about{
padding-top: 5%;

}
.list{
  text-decoration: none;
  list-style-type: none;
}
.team-card{
  /* Team */

width: 100%;
height: 706px;



}
.upper-section-1{
  /* Image Placeholder */

  width: 100%;
  height: 70%;
  left: 50px;
  top: 30%;

background: url("../images/Team2.png");
background-position: center;
background-repeat: no-repeat;
/* Image Placeholder */



}